@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Montserrat:wght@700&family=Open+Sans&family=Raleway&family=Roboto&family=Rubik+Mono+One&family=Source+Sans+Pro:wght@600&display=swap');

h1, h2, nav{
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.cont_box{
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

/*
<div class="row text-center color_white">
<div class="col"></div>

<div class="col-3 py-4">
  <font-awesome-icon icon="fa-solid fa-road" class="py-3"/>
  <h3 class="mb-3">Establish Goals</h3>
  <p>Aliquam non elit lacus. Praesent aliquet, ipsum id scelerisque convallis, mi ligula eusimod odio, vel dictum mi risus ami.</p>
  </div>

<div class="col-3 mx-4 py-4">
  <font-awesome-icon icon="fa-solid fa-video" class="py-3"/>
  <h3 class="mb-3">Work with a team</h3>
  <p>Cras semper auctor aliquaum. Sed porta sed lacus sin amet consectetur. Lorem ipsum dolor sin amet, consectetur adipiscin.</p>
</div>

<div class="col-3 py-4">
<font-awesome-icon icon="fa-solid fa-droplet" class="py-3"/>
<h3 class="mb-3">Get Results</h3>
<p>Vestibulum scelerisque egestas lectus sit amet molestie. Donec consectetur cursus est sed blandit. Nunc sed risus lacus.</p>
</div>

<div class="col"></div>
</div>
*/